<header>
	<div class="title">
		<a href="./"><h1 class="title">Brian Kim Media</h1></a>
	</div>
	<div class="cart">
		<a href="./cart"><img src="./images/add.png" style="width:80px;height:80px;margin:10px;"/></a>
	</div>
	{{#each data}}
		{{> album}}
	{{/each}}
</header>