<header>
	<div class="title">
		<a href="./"><h1 class="title">Brian Kim Media</h1></a>
	</div>
	<div class="cart">
		<a href="./cart"><img src="./images/cart.png" class="cart"/></a>
	</div>
</header>