<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>404 Brian Kim Media</title>
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet"> 
	</head>
	{{> header}}
	<body>
		<center>
			<p style="font-size:400px">404</p>
		</center>
	</body>

</html>
