<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Your Cart - Brian Kim Media</title>
		<link rel="stylesheet" href="style.css">
		<script src="cart.js" charset="utf-8" defer></script>
		<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet"> 
	</head>
	{{> header}}
	<body>
		<center>
			<div class="cart-container">
				{{#each albums}}
					{{> cartalbum}}
				{{/each}}
				<div/>
				<button id="empty-cart-button" class="empty-cart-button">Empty Cart</button>
			</div>
		</center>
	</body>

</html>
