<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Brian Kim Media</title>
		<link rel="stylesheet" href="style.css">
		<script src="index.js" charset="utf-8" defer></script>
		<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet"> 
	</head>
	<body>
	
		{{> header}}
		
		<main class="content">
		
			<div class="side-bar">
				<div class="side-spacer"></div>
				<center><p class="search-by">Search by:</p></center>
				
				<div class="filter-input-container">
					<label for="filter-artist-name" class="filter-artist-name">Artist Name</label>
					<input type="text" name="filter-artist-name" id="filter-artist-name" class="filter-artist-name">
				</div>
		
				<div class="filter-input-container">
					<label for="filter-album-name" class="filter-album-name">Album Name</label>
					<input type="text" name="filter-album-name" id="filter-album-name" class="filter-album-name">
				</div>
				
				<button id="filter-search-button" class="filter-search-button">Search</button>
			</div>
		
			<div class="cards">
			
				{{#each albums}}
					{{> album}}
				{{/each}}
			
			</div>
			
		</main>

	</body>

</html>
